*{
    margin : 0;
    padding :0;
    box-sizing: border-box;


}

body {
    font-family :Arial, Helvetica, sans-serif;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
}


nav h2 {
  color: white;
}

nav div {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  text-align: center;
  padding: 100px 20px;
}

section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

section p {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card h3 {
  margin-top: 10px;
}

.card button {
  margin-top: 10px;
}
.trending-heading {
  text-align: center;
  margin-top: 40px;
}

.category-buttons {
  text-align: center;
  margin: 20px;
}

.category-buttons button {
  margin: 10px;
  padding: 10px 20px;
}
input {
  width: 300px;
  padding: 10px;
  margin: 20px;
}
.contact {
  text-align: center;
  padding: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  gap: 15px;
}

textarea {
  height: 120px;
  padding: 10px;
}

.navbar {
  background-color: black;
  padding: 20px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  color: #f4c542;
}

.active {
  color: #f4c542 !important;
  font-weight: bold;
}

.categories-page {
  padding: 20px;
}

.categories-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-container input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.category-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.category-buttons button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.category-buttons button:hover {
  background-color: #333;
}